[submodule "grid"]
	path = grid
	url = git@github.com:ecohealthalliance/grid.git
[submodule "ansible-elasticsearch"]
	path = ansible-elasticsearch
	url = https://github.com/Traackr/ansible-elasticsearch.git
