meteor_db_name = "{{ meteor_db_name }}"
meteor_mongo_port = {{ meteor_mongo_port }}
fields_spreadsheet_id = "{{ fields_spreadsheet_id }}"
events_spreadsheet_id = "{{ events_spreadsheet_id }}"
zotero_library_id = '{{ zotero_library_id }}'
zotero_library_type='{{ zotero_library_type }}'
zotero_api_key = '{{ zotero_api_key }}'
google_refresh_token = '{{ google_oauth_refresh_token }}'
google_client_id = '{{ google_oauth_client_id }}'
google_client_secret = '{{ google_oauth_client_secret }}'
