<html>
  <div align="center">
    <img src="https://raw.githubusercontent.com/ecohealthalliance/grid/master/public/images/eidr-logo.png?token=ADQFP8aP6Qy8q75aMasRDNhPwLRYjY4hks5VlADfwA%3D%3D">
    <p style="font-size:40px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">EIDR is being updated, please try again in a few minutes.
  </div>
</html>
