ServerTokens Prod
ServerSignature Off
ServerName {{ apache_url }}

<VirtualHost *:80>
  #Disabling plaintext http and redirecting to https
  #Make sure apache_url has https in it
  Redirect permanent / {{ apache_url  }}/
</VirtualHost>

<Proxy balancer://grid-balancer>
  BalancerMember http://localhost:{{ meteor_port }} loadfactor=100
  BalancerMember http://localhost:8888
</Proxy>

<VirtualHost *:443>
  ProxyPreserveHost On
  RewriteEngine on
  RewriteCond %{HTTP:UPGRADE} ^WebSocket$ [NC]
  RewriteCond %{HTTP:CONNECTION} ^Upgrade$ [NC]
  RewriteRule .* ws://localhost:{{ meteor_port }}%{REQUEST_URI} [P]
  ProxyPass / balancer://grid-balancer/
  ProxyPassReverse / balancer://grid-balancer/
  SSLEngine on
  SSLCertificateFile /etc/apache2/ssl/apache.crt
  SSLCertificateKeyFile /etc/apache2/ssl/apache.key
  SSLCipherSuite HIGH:!aNULL:!MD5
</VirtualHost>
